{% extends "bootstrap/base.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">SoloDispaly</a>
            <!--<img alt="Brand" src="放在上一行中">-->
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="#">Link1</a></li>
{#                下拉#}
                <li class="dropdown">
                    <a href="{{ url_for('api.index') }}" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">API接口
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('api.index') }}">API接口使用说明</a></li>
                        <li><a href="{{ url_for('api.aqi') }}">AQI采集分析</a></li>
                        <li><a href="{{ url_for('api.pi') }}">RaspberryPi监控</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('api.show') }}">数据查询展示</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                <li><a href="#">Link2</a></li>
                </li>
            </ul>
{#            右导航#}
            <ul class="nav navbar-nav navbar-right">
{#                这里和书上不一样，书上为is_authenticated()。实际不应该有()#}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <button type="button" class="btn btn-primary navbar-btn">Sign out</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalLogout">Logout</button>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <button type="button" class="btn btn-primary navbar-btn">Sign in</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalLogin">Login</button>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

